# for all test
tmp*

# MacOS
*.DS_Store

# swap
*.swp

# IDE
__pycache__/
.idea/
.vscode/
.ipynb_checkpoints/

/fairness/usecase/sample_data/data2df.py
/fairness/oreilly-tutorial/
/fairness/fairness/working_dir/*
