# for all test
tmp*

# MacOS
*.DS_Store

# swap
*.swp

# IDE
__pycache__/
.idea/
.vscode/
.ipynb_checkpoints/

/fairness/src/sample/sample_data/data2df.py
/fairness/oreilly-tutorial/
/fairness/src/fairness/working_dir/*
